<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="gameServerId" value="1"/>
    <add key="userDBConnection" value="Server=127.0.0.1;Database=User;User Id=server_user;Password=1q2w3e4r!;"/>
    <add key="accessTokenSecurityKey" value="TestProject"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>